.video-js .vjs-title-bar {
  background: rgba(0, 0, 0, 0.5);
  color: white;

  /*
    By default, do not show the title bar.
  */
  display: none;
  font-size: 2em;
  padding: .5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*
  Only show the title bar after playback has begun (so as not to hide
  the big play button) and only when paused or when the user is
  interacting with the player.
*/
.video-js.vjs-paused.vjs-has-started .vjs-title-bar,
.video-js.vjs-user-active.vjs-has-started .vjs-title-bar{
  display: block;
}

.vjs-trim-start:before {
  content: "【";
  top: -.5em;
  right: -.35em;
  position: absolute;
  font-size: .95em;
}

.vjs-trim-end:before {
  content: "】";
  top: -.5em;
  right: -.7em;
  position: absolute;
  font-size: .95em;
}

.vjs-trim-control { /* vjs-volume-control */
  cursor: pointer;
  margin-right: 1em;
  display: flex;
}

.vjs-trim-control.vjs-trim-horizontal { /* .vjs-volume-control.vjs-volume-horizontal */
  width: 5em;
}

.vjs-trim-bar.vjs-slider-horizontal { /* .vjs-volume-bar.vjs-slider-horizontal */
  width: 5em;
  height: .3em;
}

.vjs-trim-horizontal { /* vjs-volume-horizontal */

}

.vjs-trim-start { /* vjs-volume-level */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.vjs-trim-end { /* vjs-volume-level */
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

.vjs-start-trim-button { /* vjs-volume-level */
  top: .15em;
  right: 0em;
  position: absolute;
  font-size: .9em;
}

.video-js .vjs-trim-level { /* .video-js .vjs-volume-level */
  font-family: VideoJS;
  font-weight: 400;
  font-style: normal;
}

.vjs-slider-horizontal .vjs-trim-level {
  height: .3em;
}

.vjs-slider.vjs-trim-bar { /* vjs-volume-bar */
  margin-top: 1.35em;
  margin-right: 0.45em;
  margin-bottom: 1.35em;
  margin-left: 0.45em;
}
